<!-- #################### Navigation #################### -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
	<div class="container px-4 px-lg-5">
		<a class="navbar-brand" href="#page-top">FilipeZeferino</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ms-auto my-2 my-lg-0">
				<li class="nav-item"><%= link_to 'About', "#about", class: "nav-link" %></li>
				<li class="nav-item"><%= link_to 'Webapps', "#webapps", class: "nav-link" %></li>
				<li class="nav-item"><%= link_to 'Contact', "#contact", class: "nav-link" %></li>
			</ul>
		</div>
	</div>
</nav>
<!-- #################### Masthead #################### -->
<header class="masthead">
	<div class="container px-4 px-lg-5 h-100 mt-4">
		<div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
			<div class="col-lg-8 align-self-end my-4">
				<h1 class="text-white font-weight-bold">Your next software Engineer!</h1>
				<hr class="divider" />
			</div>
			<div class="col-lg-8 align-self-baseline">
				<p class="text-white-75">Fond of technology, eager for knowledge.</p>
				<p class="text-white-75 mt-4 mb-5">I hope that through this website you can find use for my skills</p>
				<%= link_to 'Find Out More', "#about", class: "btn btn-primary btn-xl my-5" %>
			</div>
		</div>
	</div>
</header>
<!-- #################### About #################### -->
<section class="page-section bg-primary" id="about">
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-lg-8 text-center">
				<h2 class="text-white mt-0">Available for hiring!</h2>
				<p class="text-white-75 mt-4 mb-5">
				I have confidence in my delivery capacity and commitment and I seek the opportunity to provide these qualities
				 acting as a software Engineer.
				</p>
				<h2 class="text-white mt-0"><strong>Find out more</strong></h2>
				<h2 class="text-white mt-4 mb-5">
				<%= link_to "https://github.com/filipezef", target: :_blank do %>
					<i class="bi bi-github text-white me-4"></i>
				<% end %>
				<%= link_to "https://www.linkedin.com/in/filipezef/?locale=en_US", target: :_blank do %>
					<i class="bi bi-linkedin text-white me-4"></i>
				<% end %>
				<small><a class="text-white zeferino" href="https://www.hackerrank.com/filipezef" target= "_blank" %>HackerRank</a></small>
				</h2>
				<a class="btn btn-light btn-xl" href="#webapps">webapps</a>
			</div>
		</div>
	</div>
</section>
<!-- #################### Web applications #################### -->
<section class="page-section" id="webapps">
	<div class="container px-4 px-lg-5">
		<h2 class="text-center mt-0">Web applications</h2>
		<hr class="divider" />
		<div class="row gx-4 gx-lg-5">
			<div class="col-lg-3 col-md-6 text-center">
				<div class="mt-5">
					<%= link_to "https://zefcommerce.herokuapp.com", class: "zeferino", target: :_blank do %>
						<div class="mb-2"><i class="bi bi-intersect fs-1 text-primary"></i></div>
						<h3 class="h4 mb-2 text-black">ZEFcommerce</h3>
						<p class="text-muted mb-0">Ecommerce webapp</p>
						<p class="text-muted mb-0">Features: authentication (logged in/out state),
							admin user and access level control (UI + back-end)</p>
					<% end %>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="mt-5">
					<%= link_to "https://zefblog.herokuapp.com/", class: "zeferino", target: :_blank do %>
						<div class="mb-2"><i class="bi bi-collection fs-1 text-primary"></i></div>
						<h3 class="h4 mb-2 text-black">ZefBlog</h3>
						<p class="text-muted mb-0">Rails articles repo</p>
						<p class="text-muted mb-0">Features: authentication (logged in/out state),
							admin user and access level control (UI + back-end)</p>
					<% end %>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="mt-5">
					<%= link_to "https://tracker-z.herokuapp.com/", class: "zeferino", target: :_blank do %>
						<div class="mb-2"><i class="bi bi-currency-exchange fs-1 text-primary"></i></i></div>
						<h3 class="h4 mb-2 text-black">Tracker-Z</h3>
						<p class="text-muted mb-0">Stock tracker webapp</p>
						<p class="text-muted mb-0">Features: authentication by Devise, IEX Cloud API dependent, search friends and stocks functionality</p>
					<% end %>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<div class="mt-5">
					<div class="mb-2"><i class="bi bi-question-square fs-1 text-primary"></i></div>
					<h3 class="h4 mb-2">Next app</h3>
					<p class="text-muted mb-0">Under construction</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- #################### Webapps - Images #################### -->
<div id="portfolio">
	<div class="container-fluid p-0">
		<div class="row g-0">
			<div class="col-lg-4 col-sm-6">
				<%= link_to "https://zefcommerce.herokuapp.com", class: "portfolio-box", title: "ZEFcommerce", target: :_blank do %>
					<%= image_tag "portfolio/fullsize/2-new.JPG", class: "img-fluid", alt: "ZEFcommerce main page image" %>
					<div class="portfolio-box-caption">
						<div class="project-category text-white-50">Blog</div>
						<div class="project-name">ZefBlog</div>
					</div>
				<% end %>
			</div>
			<div class="col-lg-4 col-sm-6">
				<%= link_to "https://zefblog.herokuapp.com", class: "portfolio-box", title: "ZefBlog", target: :_blank do %>
					<%= image_tag "portfolio/fullsize/1-new.JPG", class: "img-fluid", alt: "ZefBlog main page image" %>
					<div class="portfolio-box-caption">
						<div class="project-category text-white-50">Ecommerce webapp</div>
						<div class="project-name">ZEFcommerce</div>
					</div>
				<% end %>
			</div>
			<div class="col-lg-4 col-sm-6">
				<%= link_to "https://tracker-z.herokuapp.com/", class: "portfolio-box", title: "Tracker-Z", target: :_blank do %>
					<%= image_tag "portfolio/fullsize/4-new.JPG", class: "img-fluid", alt: "Tracker-Z main page image", target: :_blank %>
					<div class="portfolio-box-caption">
						<div class="project-category text-white-50">Stock tracking webapp</div>
						<div class="project-name">Tracker-Z</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<!-- #################### Contact #################### -->
<section class="page-section" id="contact">
	<div class="container px-4 px-lg-5">
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-lg-8 col-xl-6 text-center">
				<h2 class="mt-0">Let's Get In Touch!</h2>
				<hr class="divider" />
				<p class="text-muted mb-5">Ready to start and commited with constant improvement. Let's get in touch so I can show you more.</p>
			</div>
		</div>
		<div class="row gx-4 gx-lg-5 justify-content-center">
			<div class="col-lg-4 text-center mb-5 mb-lg-0">
				<i class="bi bi-mailbox fs-1 text-primary"></i>
				<div>filipezef@gmail.com</div>
			</div>
		</div>
	</div>
</section>
<!-- #################### Footer #################### -->
<footer class="bg-light py-5">
	<div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; FilipeZeferino</div></div>
</footer>
<!-- #################### JS #################### -->
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="packs/js/scripts.js"></script>


